@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:wght@400;700&display=swap');


*,*::before,*::after{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}

#container{
    
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 120px auto;
    background: hsl(0, 0%, 100%);
    border-radius: 24px;
    
    

}


img{
    width:auto ;
    flex: 1 1 auto;
    margin-bottom: 32px;
    border-radius: 16px;
    
}

#text-container{
    padding: 0 16px;
}
.bold-text{
    margin-bottom: 32px;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    
}

.text{
    margin-bottom: 32px;
    text-align: center;
    color:hsl(220, 15%, 55%);
}